html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.fullHeight{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.flexRowDiv{

    display: flex;
    align-content: center;
    align-items: center;
    justify-content:center;
    flex-direction: row;

}

.invisible{
    display: none;
}


.posAbs{
    position: absolute;
}
.canvasLayer{
    display: block;
    width: 640px;
    height:480px;
}

#Continue,#Continue1,#Continue2{
    background-image: url("/assets/images/play.png");
    background-size:cover;
    width: 100px;
    height:100px;
}
#Continue3{
    background-image: url("/assets/images/photographer-camera.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}
#Photo{
    background-image: url("/assets/images/photographer-camera.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}
#Photo:hover{
    background-image: url("/assets/images/photographer-camera-red.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}

#anotherPics{
    display: none;
}

.flexRow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;



}
.spaceAround{
    margin:30px;
}

.imgGallery,.imgGallery img{
    max-width:200px;
}

.directory, .imgGallery{
    padding: 20px;
}
.directory{
    width: 50px;
    height:50px;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: scroll;

}
.imgContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin: auto auto;
    align-items:center;
    flex-wrap:wrap;
    align-content:center;

}


.back{
    width: 50px;
    height:50px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/back.png");

}
#src{
   margin: auto auto;
    min-height: 80%;
}




#ImageSelected{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #a6a3a4;
    align-self: flex-end;
    overflow-y: scroll;


}


.MaxContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imageDiv{
    margin: 15px;

    align-self:center;

}
.imageDiv,.imageDiv img{

    max-width: 100px;
    max-height: 100%;

}