html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.fullHeight{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 0px;

    overflow-y: scroll;
    flex:  2 1 75%;

}

.noFullHeight{
    padding: 0px;
    width: 100%;
    height: 0px;
    align-items: flex-start;
    flex:  2 1 75%;



}


.flexRowDiv{

    display: flex;
    align-content: center;
    align-items: center;
    justify-content:center;
    flex-direction: row;

}

.invisible{
    display: none;
}


.posAbs{
    position: absolute;
}
.canvasLayer{
    display: block;
    width: 640px;
    height:480px;
}

#Continue,#Continue1,#Continue2{
    background-image: url("/assets/images/play.png");
    background-size:cover;
    width: 100px;
    height:100px;
}

#Continue4{
     background-image: url("/assets/images/mail.svg");
     background-size:cover;
     width: 100px;
     height:100px;
 }
#Continue3{
    background-image: url("/assets/images/photographer-camera.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}
.Photo{
    background-image: url("/assets/images/photographer-camera.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}

.imageGalleryIcon{
    background-image: url("/assets/images/lib.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}
#Plus{
    background-image: url("/assets/images/plus.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}


.Photo:hover{
    background-image: url("/assets/images/photographer-camera-red.svg");
    background-size:cover;
    width: 100px;
    height:100px;
}

#anotherPics{
    display: none;
}

.flexRow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;



}
.spaceAround{
    margin:30px;
}

.imgGallery,.imgGallery img{
    max-width:200px;
}

.directory, .imgGallery{
    padding: 20px;
}
.directory{
    width: 50px;
    height:50px;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-y: scroll;

}
.imgContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin: auto auto;
    align-items:center;
    flex-wrap:wrap;
    align-content:center;
    overflow-y: auto;



}


.back{
    width: 50px;
    height:50px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/back.png");

}
#src{
   margin: auto auto;
    min-height: 80%;
}




#ImageSelected{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #a6a3a4;
    align-self: flex-end;
    overflow-y: scroll;
    flex:  0.1 1 auto;


}


.MaxContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imageDiv{
    margin: 15px;

    align-self:center;


}
.imageDiv,.imageDiv img{
    max-width: 100px;
    max-height: 100px;
}
#cursor{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
}

#popUpMail{
    display: none;
    position: absolute;
    margin: auto;
    padding: 30px;
    background-color: #000000;

}


.pop-up{
    position: relative;
    width: 500px;
    height:300px;
    background-color: #a6a3a4;
    margin: auto;
    top: auto;
    bottom: auto;
    display: block;


}

.head{
    width: 500px;
    top:0px;
    background-color: #a6a3a4;
    text-align: center;
}

.selfieCanvas{
    margin:  auto auto;

}

#Photo{
    margin:  auto;

}
.columnFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.imageGallery{
    width: 100%;
    height: 100%;
    overflow-y: hidden;

}

#selectImage{
    display: flex;
    width: 100%;
    height: 85%;
    flex-wrap: wrap;
   justify-content: center;
    overflow-y: scroll;

}
#selectImage img{
margin: 15px;

}