@(implicit request: RequestHeader)

<div id="morph" class="fullHeight flexRowDiv">
    <img id="src" src='' />
    <div class="flexRow">
    <div id="Continue2" class="spaceAround" onclick="restart()"></div>
    <div id="Continue3" class="spaceAround" onclick="backSame()"></div>
        <div id="Continue4" class="spaceAround" onclick="openPopUp()">

    </div>

    </div>

    <div id="popUpMail">
        <input id="mail" type="email" placeholder="insert your e-mail">
        <input type="button" value="Send!" onclick="sendMail()">

    </div>
    <script>
            //Hide the previews pages
            initMorphPage()

           function initMorphPage() {
               $("#morph").hide();
               $("#Continue2").hide();
               $("#Continue3").hide();
               $("#Continue4").hide();
               $("#popUpMail").hide();
           }



            //Get the merged image from the server, use web socket to send chunk of image
            function uploadAndDo() {

                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
                var sock = new WS("@routes.MorphingController.socket().webSocketURL()")

                sock.onmessage = function(event) {

                    var jsonData = JSON.parse(event.data);

                    //upload the image div with the new image
                    if(jsonData.image){
                        $("#src")[0].src = "data:image/png;base64," + jsonData.image;
                    }

                    //if is the last image, close the web socket connection and show the continue button
                    if(jsonData.isLast){
                        sock.close()
                        $("#Continue2").show()
                        $("#Continue3").show();
                        $("#Continue4").show();






                    }
                };

                //when socket is open, send the image to be morphed
                sock.onopen= function () {
                    sock.send(JSON.stringify({
                        paths :sessionUpdate
                    }))


                }

            }

            //Restart the application from beginning
            function restart(){
                location.reload();
                window.location.href = "#";
                location.reload();

            }

        //Return to the selectImage page
        function backSame() {
            $("#selectImage").show();
            $("#morph").hide();
            $("#selfie").hide();
        }


            function sendMail() {
                console.log("Sending to ",$("#mail").val())
                sendByMail($("#mail").val())
                $("#popUpMail").hide();
                $("#Continue4").hide();

            }
        function sendByMail(mail){
            var dat =  $("#src")[0].src
            console.log(dat)

            $.ajax({
                type: "POST",
                url: "/mailTo",
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ image: dat, mail:mail}),

                success:function(data) {



                },
                error:function(e){
                    console.log(e)
                }

            })
        }

        function openPopUp() {
            @*sendByMail('bedulm@@usi.ch')*@
            $("#popUpMail").show();

        }
    </script>

</div>