@()
<div id="selectImage" class="fullHeight flexRow">

    <script type="text/javascript">

    $("#selectImage").hide();

    //history of navigation.
    var old =[];

    //Inizialize the page.
    function initSelectImage(){
        getListFile(renderImages);
    }

    //Display the content of a directory into the main container: remember that the directory contains all the HTML for display it but as display mode:None
    function display(img){
        old.push( document.getElementById("imgContainer").innerHTML)
        document.getElementById("imgContainer").innerHTML = $("#"+img).html()

    }

    //.. previews directory. Use stack for going back
    function back(){
        if(old.length>0)
            document.getElementById("imgContainer").innerHTML  = old.pop();
    }
    //render the html page. This is the callback of getListOfFile
    function renderImages(json){
        document.getElementById("selectImage").innerHTML=(json)


    }

    //when an image is selected, if is the first time make the border red and add to the list of image to be merged, otherwise remove form the list
    function selected(path,img) {
        if (sessionUpdate.indexOf(path) != -1) {
            sessionUpdate.splice(sessionUpdate.indexOf(path), 1)
            img.style.borderStyle = "none"
            remove(path)

        } else {
            sessionUpdate.push(path)
            addImage(path,img)
            img.style.borderStyle = "solid"
            img.style.borderColor = "red"
            img.style.borderWidth = "3px"
        }
    }
    //Nex page
    function goForward1() {
        $("#selectImage").hide();
        $("#selfie").hide();
        $("#morph").show();
        uploadAndDo()
    }
    </script>


</div>

