@()
@components.popup("toBeInjected","Seleziona Sorgente") {

        <div class="columnFlex">
             <div id="Photo1" class="Photo spaceAround" onclick="selectCamera()"></div>
             <div  class="imageGalleryIcon spaceAround" onclick="selectImageLibrary()"></div>

        </div>

}



<div id="selfie" class="fullHeight flexRowDiv">
    <div  id = "selfieCanvas" >

        <div class="canvasLayer" width="640" height="480">
            <video autoplay="true" id="videoElement" class="invisible" width="640" height="480"></video>
            <canvas id="canvas" class="posAbs" width="640" height="480"> </canvas>
            <canvas id="canvasHelper" class="posAbs" width="640" height="480" > </canvas>

        </div>

        <div id="Photo" class="spaceAround Photo" onclick="countDown()"></div>

    </div>

    <div id ="menu" class="flexRow">
        <div id = "Plus" class = "spaceAround" onclick="injectPopUpSourceSelect()"></div>
        <div id="Continue" class="spaceAround" onclick="morphImages()"></div>
    </div>
</div>


<script type="text/javascript">

        $("#Continue").hide();
        $("#toBeInjected").hide();
        $("#selfieCanvas").hide();
        var video = document.querySelector("#videoElement");
        var canvas = document.querySelector("#canvas");
        var canvasHelper = document.querySelector("#canvasHelper");

        var pressed = false;

        //start the camera on a given canvas
        startCamera(video,canvas);

        var context = canvasHelper.getContext("2d")

        //cache the width and height
        var w = canvas.width;
        var h = canvas.height;

        //draw ellipse for face
        context.ellipse(w/2,h/2,w/3,h/2-10,0,0,360);
        context.lineWidth = 5;
        context.strokeStyle = 'green';
        context.stroke();


        //count down for take a picture
        function countDown() {

            if(pressed) return;
            if(stop) {stop = false;return;}
            pressed = true;
            $("#Photo").css('background-image','url(/assets/images/number-three-in-a-circle.svg)')
            setTimeout(function () {

                $("#Photo").css('background-image','url(/assets/images/number-two-in-a-circle.svg)')

                setTimeout(function () {
                    $("#Photo").css('background-image', 'url(/assets/images/number-one-in-a-circle.svg)')

                    setTimeout(function () {
                        $("#Photo").css('background-image', 'url(/assets/images/photographer-camera.svg)')
                        takeAndPut(sessionUpdate);
                        $("#Continue").show();
                        $("#menu").show();
                        $("#selfieCanvas").hide();

                        pressed=false

                    },1000)

                },1000)

            },1000)
        }



        function selectCamera(){
            pressed = false;
            stop = false;
            $("#toBeInjected").hide();
            $("#selfieCanvas").show();
            $("#menu").hide();
            $("#selectImage").hide();
            $("#imageGallery").hide();
            $("#selfie").show();
        }


        //next page
        function goForward(){

            $("#morph").hide();
            $("#selfie").hide();
            $("#selectImage").show();
            $("#imageGallery").show();
            initSelectImage();
        }

        function injectPopUpSourceSelect(){

            $("#toBeInjected").show();
        }
        function selectImageLibrary() {
            $("#toBeInjected").hide();
            goForward();
        }




</script>